/* Set the background color of body to tan */
body {
    background-color: wheat;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }

  .container > div {
    width: 32%;
    font-size: 20px;
  }
  .first{
    border: 2px solid black;
  }
  .second{
    border: 2px solid black;
  }
  .third{
    border: 2px solid black;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  /* tablet screen */
  @media screen and (max-width: 992px) {
    body {
      background-color: orangered;
    }
    .container {
        flex-direction: column;
      }
      .container > div {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
        color: white;
        border-radius: 6px;
        border-color: white;
      }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  /* mobile screen */
  @media screen and (max-width: 600px) {
    body {
      background-color: springgreen;
    }
    .container > div {
        background-color: coral;
      }
  }