.nav{
    background-color: #dfe6e9;
    display: flex;
    height: 80px;
    align-items: center; /* centered vertically --- top-bottom */
    justify-content: space-between; /* efect on horizontalyy*/
    padding: 0px 20px;
}

.logo{
    /* background-color: aqua; */
}

.links{
    /* background-color: yellowgreen; */
}
.links a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
    font-size: 18px;
}
.icons{
    text-align: center;
    padding: 20px;
    background-color: #dfe6e9;
    
}
.icons i{
    font-size: 20px;
    color: red;
    margin-left: 15px;
}

.icons .fa-facebook:hover{
    color: rgb(0, 129, 221);
    transition: 1s;
}
.icons .fa-instagram:hover{
    color: rgb(219, 16, 97);
    transition: 1s;
}
.icons .fa-linkedin:hover{
    color: rgb(0, 96, 180);
    transition: 1s;
}